

// body {
//   font-family: Helvetica; 
// }
// #humidity{
//   display:inline-flex;
//   // justify-content: center;
//   // align-items: center;
// }
.donation-meter {
  // margin-left: 30px;
  width: 100px;
  margin:auto;
  // display: inline-flex;
  // justify-content: center;
  .glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    border:10px solid #38434A;
    border-bottom:none;
    display: block;
    height: 300px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    width: 20px;
  }
  .amount {
    background: #3DCADF;
    border-radius: 100px;
    display: block;
    width: 20px;
    position: absolute;
     bottom: 5px;
  }
  strong { display: block; text-align: center; }
  .goal {
    font-size: 30px;
  }
  .total {
    font-size: 25px;
    position: absolute;
    right: 50px;
  }
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  border:10px solid #38434A;
  display: block;
  height: 50px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
    top: -20px;
    right: 15px;
  width: 50px;
  .red-circle {
    background: #3DCADF;
    border-radius: 100px;
    display: block;
    height: 50px;
    width: 50px;
  }
  .filler {
    background: #3DCADF;
    border-radius: 0 0;
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
      top: -65px;
      right: -15px;
    z-index: 30;
  }
}